input {
  width: 50%;
  border: none;
  border-top: 2px solid #43eede;
  border-bottom: 2px solid #43eede;
  margin-right: 10px;
  padding: 5px;
  line-height: 20px;
  transition: 0.2s;
}

input:focus {
  outline: none;
  border: none;
  border-top: 2px solid rgb(73, 204, 249);
  border-bottom: 2px solid rgb(73, 204, 249);
}

.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  cursor: grab;
}

.btn-primary {
  color: rgba(73, 204, 249, 1);
  border-color: rgba(73, 204, 249, 1);
  background-color: transparent;
  transition: 0.3s;
}

.btn-primary:hover {
  color: #fff;
  border-color: rgb(83, 197, 48);
  background-color: rgb(83, 197, 48);
}

.btn-danger {
  color: rgb(161, 57, 57);
  border-color: rgb(161, 57, 57);
  background-color: transparent;
  transition: 0.3s;
}

.btn-danger:hover {
  color: #fff;
  border-color: rgb(161, 57, 57);
  background-color: rgb(161, 57, 57);
  transition: 0.3s;
}

.btn-warn {
  color: rgb(218, 151, 29);
  border-color: rgb(218, 151, 29);
  background-color: transparent;
  transition: 0.3s;
}

.btn-warn:hover {
  color: #fff;
  border-color: rgb(218, 151, 29);
  background-color: rgb(218, 151, 29);
  transition: 0.3s;
}

.btn-bin {
  color: rgb(64, 29, 218);
  border-color: rgb(64, 29, 218);
  background-color: transparent;
  transition: 0.3s;
}

.btn-bin:hover {
  color: #fff;
  border-color: rgb(64, 29, 218);
  background-color: rgb(64, 29, 218);
  transition: 0.3s;
}
